/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2015, 10:51:22 AM
    Author     : mzijlstra
*/

body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/01/Yahoo%21_Geocities.png');
    font-family: Helvetica, sans-serif;
}

h1, h2 {
    background-color: indianred;
    text-align: center;
}

h1 {
    text-shadow: 3px 5px yellow;
}

h2 {
    color: antiquewhite;
    font-size: 28pt;
}

h2::first-letter {
    color: aqua;
    font-size: 150%;
}
body:nth-child(odd) {
    background-color: brown;
}

#raspberry_pi {
    background-color: blue;
}

section {
    background-color:chartreuse;
    border: 3px dashed black;
    border-radius: 25px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-bottom: 20px;
}

a:link {
    color: white;
}
a:visited {
    color: blue;
}
a:hover {
    color: red;
}
a:active {
    color: green;
}